body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header{
    margin-bottom: 15px;
}

nav{
    background-color: #333;
}

.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.menu li {
    display: inline;
}

.menu li a{
    display: inline-block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

a:hover{
    background-color: #111;
}

main{
    margin: auto;
    width: 65%;
    background-color: white;
    padding: 15px;
    border-radius: 4px;
    h2, p {
        text-align: center;
    }
}

table, th, td {
    border: 1px groove rgb(229, 222, 222);
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td{
    padding: 3px;
}

th {
    background-color: #04aa6d;
    color: white;
}

tr:nth-child(even){
    background-color: #eae7e7;
}

form{
    display: flex;
    flex-direction: column; /* Mengatur arah flex menjadi kolom (vertikal) */
    /* align-items: flex-start; Menyelaraskan item di awal sumbu silang */
    max-width: 65%; /* Lebar maksimal dari form */
    margin: auto; /* Memusatkan form secara horizontal */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    h2{
        margin: auto;
    }
    p{
        margin: auto;
        padding: 15px;
    }
}

/* label, input {
    padding: 5px 0;;
} */

input[type=text], select {
    border-radius: 3px;
    border: none;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 3px;
    width: 100%;
    background-color: #eae8e8;
}

input[type=submit]{
    border-radius: 3px;
    border: none;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 3px;
    width: 75px;
    background-color: green;
}





